* {
  box-sizing: border-box !important;
}
:root {
  --Poppins: "Poppins", sans-serif;
  --Montserrat: "Montserrat", sans-serif;
  --main-color: #1e202c;
  --text-color: #009ad8;
  --white-color: #fff;
  --head-first-color: #2d313d;
  --head-second-color: #222430;
  --body-first-color: #323544;
  --body-second-color: #262a36;
  --light-gray-color: #999;
  --card-color: #5b5b5b;
}

a {
  text-decoration: none;
  color: var(--white-color) !important;
}

p {
  padding: 0;
  margin: 0;
}

header .nav-link {
  display: inline-block;
  padding: 1px 22px !important;
  border: 2px solid transparent;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  margin: 0px 5px !important;
}

header div ul li a:hover {
  border-color: var(--text-color);
  color: var(--text-color) !important;
}

nav {
  background-color: var(--main-color) !important;
  padding: 53px 0 !important;
}

#navbarNav {
  justify-content: end;
}

.navbar-brand {
  color: var(--white-color) !important ;
}

header div ul li a:focus {
  color: var(--text-color) !important;
  border: var(--text-color) 2px solid !important;
  border-radius: 50px;
  padding: 1px 22px !important;
}

header div ul li a:active {
  color: var(--text-color) !important;
  border: var(--text-color) 2px solid !important;
  border-radius: 50px;
  padding: 1px 22px !important;
}

.navbar-toggler-icon {
  border: transparent 2px solid !important;
  border-radius: 50px;
}

.navbar-toggler:hover {
  border: var(--text-color) 2px solid !important;
  border-radius: 50px;
}

/* ------------------------main------------------- */

section {
  background-image: url(../imgs/pricing-background-img.png);
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-color: var(--main-color);
}

input {
  background-color: var(--main-color) !important;
  border: transparent 1px solid !important;
}

.input-group {
  background-color: var(--main-color) !important;
  border: transparent 1px solid !important;
}

.input-group button {
  background-color: var(--text-color);
  color: var(--white-color);
  border: transparent 1px solid !important;
}

.input-group button:hover {
  background-color: var(--text-color);
  color: var(--white-color);
  border: transparent 1px solid !important;
}

input::placeholder {
  color: var(--light-gray-color) !important;
}

input:focus {
  box-shadow: none !important;
  outline: none !important;
}

.cardd {
  color: var(--light-gray-color);
}

.first-card {
  font-size: 90px;
}

.inner1 {
  background-color: var(--head-first-color);
  padding: 10px;
}

.inner2 {
  background-color: var(--head-second-color);
  padding: 10px;
}

.inner1-1 {
  background-color: var(--body-first-color);
}

.inner2-1 {
  background-color: var(--body-second-color);
}

.inner1-1,
.inner2-1 {
  height: 370px;
}

.row {
    border-radius: 10px;  
    overflow: hidden;    
}

footer{
  background-color: var(--body-second-color);
}

i{
  color: var(--text-color);
  background-color: var(--main-color);
  width: 40px !important;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}


/* ----------------------contact---------------------- */

.contact{
  background-color: var(--main-color);
}

section1 {
  padding-bottom: 50px;
  background-color: var(--main-color);
}

.input5{
  /* height: 40px; */
  background-color: var(--body-second-color);
  border-radius: 40px;
    padding: 20px 30px;
}

.input1 {
  background-color: var(--body-second-color) !important;
  border: transparent 1px solid !important;
}

.input-group1 {
  background-color: var(--body-second-color) !important;
  border: transparent 1px solid !important;
}